/* Blog.css */
.blog-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .blog-post {
    width: 48%; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
  }
  